__pycache__/
*.py[cod]
*.so

.DS_Store
.idea/
.vscode/

logs/*.tmp
*.tmp

IRRA_UATTA/figure_plot/
IRRA_UATTA/outputs/
CMP_UATTA/outputs/
CMP_UATTA/rebuttal_vis/
CMP_UATTA/data/debug_embeddings/

*.npy
*.pth
*.pt
*.ckpt
*.th
IRRA_UATTA/data/bpe_simple_vocab_16e6.txt.gz

IRRA_UATTA/input/images/
CMP_UATTA/data/PAB/
CMP_UATTA/checkpoint/
IRRA_UATTA/checkpoints/
